In [5]:
import pandas as pd
from linearmodels.panel import PanelOLS

# Загрузка данных
data = pd.read_excel('Панельные_данные.xlsx')

In [6]:
data

    N     G     Y    X1   X2
0   1  2000   496  2833   41
1   1  2001   625  2925   63
2   1  2002   958  4242   98
3   1  2003  1147  3594  143
4   2  2000   186   809   20
5   2  2001   275   727   29
6   2  2002   296  1002   35
7   2  2003   320   703   42
8   3  2000   387   724   67
9   3  2001   435   864   73
10  3  2002   580  1194   80
11  3  2003   593  1189   89
12  4  2000   215  1819   13
13  4  2001   240  2080   15
14  4  2002   300  2372   18
15  4  2003   243  2160   21
16  5  2000   404  2290   34
17  5  2001   429  2159   44
18  5  2002   513  2031   62
19  5  2003   557  2116   67

In [23]:

# Создание панельных данных
Panel_data = data.set_index(['N', 'G'])

# Построение модели
model = PanelOLS.from_formula('Y ~ 1 + X1 + X2 ', data=Panel_data)
result = model.fit()

# Вывод результатов
print(result)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                      Y   R-squared:                        0.9862
Estimator:                   PanelOLS   R-squared (Between):              0.9896
No. Observations:                  20   R-squared (Within):               0.9779
Date:                Tue, Jan 16 2024   R-squared (Overall):              0.9862
Time:                        02:39:51   Log-likelihood                   -95.071
Cov. Estimator:            Unadjusted
                                        F-statistic:                      606.40
Entities:                           5   P-value                           0.0000
Avg Obs:                       4.0000   Distribution:                    F(2,17)
Min Obs:                       4.0000
Max Obs:                       4.0000   F-statistic (robust):             606.40
                                        P-value                           0.0000
Time periods:                       4   Distribution:                    F(2,17)
Avg Obs:                       5.0000
Min Obs:                       5.0000
Max Obs:                       5.0000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept     -21.017     16.243    -1.2939     0.2130     -55.286      13.253
X1             0.0933     0.0075     12.473     0.0000      0.0776      0.1091
X2             5.7758     0.2254     25.622     0.0000      5.3002      6.2514
==============================================================================

In [21]:

# Создание панельных данных
Panel_data = data.set_index(['N', 'G'])

# Построение модели
model = PanelOLS.from_formula('Y ~ X1 + X2 + EntityEffects', data=Panel_data)
result = model.fit(cov_type='clustered', cluster_entity=True)

# Вывод результатов
print(result)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                      Y   R-squared:                        0.9795
Estimator:                   PanelOLS   R-squared (Between):              0.9872
No. Observations:                  20   R-squared (Within):               0.9795
Date:                Tue, Jan 16 2024   R-squared (Overall):              0.9867
Time:                        02:39:34   Log-likelihood                   -86.608
Cov. Estimator:             Clustered
                                        F-statistic:                      310.58
Entities:                           5   P-value                           0.0000
Avg Obs:                       4.0000   Distribution:                    F(2,13)
Min Obs:                       4.0000
Max Obs:                       4.0000   F-statistic (robust):             3394.7
                                        P-value                           0.0000
Time periods:                       4   Distribution:                    F(2,13)
Avg Obs:                       5.0000
Min Obs:                       5.0000
Max Obs:                       5.0000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
X1             0.1143     0.0175     6.5320     0.0000      0.0765      0.1520
X2             5.5588     0.1072     51.869     0.0000      5.3272      5.7903
==============================================================================

F-test for Poolability: 4.3255
P-value: 0.0192
Distribution: F(4,13)

Included effects: Entity